<div class="home-container">
<!-- <img src="/assets/transparent_logo.png" alt="" class="potluck-logo"> -->
  <div class="potluck-logo">
    <%= image_tag "transparent_logo.png"%>
  </div>
  <div class="button-container">
    <div class="new-action-button warm">
      <%= link_to "Check Out All Potlucks", events_path %>
    </div>
    <div class="new-action-button warm">
        <%= link_to "Make Your Own Potluck", new_event_path %>
    </div>
  </div>
</div>
