@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed');
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Bad+Script');

// fonts
$roboto: 'Roboto Condensed', sans-serif;
$pacifico: 'Pacifico', cursive;
$bad-script: 'Bad Script', cursive;

// colors
$powder: #8FD8D2;
$peach: #FEDCD2;
$warm: #DF744A;
$lemon: #DCB239;
$hint-green: #83d084;
$ocean-grey: rgba(57,72,88, 1);
$ocean-grey-background: rgba(57,72,88, 0.8);
$powder-background: rgba(143,	216,	210, 0.8);
$peach-background: rgba(254, 220, 210, 0.8);
$lemon-background: rgba(220,	178,	57, 0.8);
$black-background: rgba(0, 0, 0, 0.3);
$warm-background: rgba(223, 116, 74, 0.8);


@import "home.scss";
@import "navbar.scss";
@import "forms.scss";
@import "profile-view.scss";
@import "potluck-events.scss";
abbr[title],
acronym[title] {
  display: none;
}
html,
body {
  min-height: 100%;
  margin: 0px;
}

body {
  background-image: asset-url("potluck-dinner-50.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  // .overlay{
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 1;
  //   background-color: rgba(0,0,0,0.5); /*dim the background*/
  // }

  li {
    list-style-type: none;
  }

  label,
  span,
  a,
  h1,
  h2,
  h4,
  p,
  th,
  tr {
    margin: 0px;
    font-family: $roboto;
    color: white;
  }

  .file {
    &.optional {
      margin: 0px;
      font-family: $roboto;
      margin-left: 10px;
      color: white;

      &:first-child {
        margin-left: 0px;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .body-inner-container {
    min-height: 100%;
    margin: 0px 20px;
  }

  .avatar-image {
    height: 100px;
    width: auto;
  }

  .search-button,
  .delete-button,
  .new-action-button {
    display: block;
    width: 50%;
    color: white;
    font-family: $roboto;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 20px 10px;
    text-align: center;

    a {
      font-size: 20px;
    }
  }

  .new-action-button {
    background-color: $lemon;
  }

  .delete-button {
    background-color: $warm;
  }

  .search-button {
    background-color: $warm;
    width: calc(20% - 30px);
    height: 35px;
    padding: 0px;
  }
}
