.profile-card-outer-container,
.form-wrapper {
  max-height: 500px;
  overflow: scroll;
  margin: 10% auto;
  padding: 5%;
  width: 65%;
  background-color: $ocean-grey-background;
  border-radius: 5px;

  h1 {
    padding: 15px 0px;
  }
}

.profile-card-outer-container {
  &.dish-outer-container {
    .title {
      font-family: $bad-script;
      text-transform: capitalize;
    }
  }
}


form {
  label {
    &.date {
      margin-right: 5px;
    }
  }

  input[type=text],
  input[type=email],
  input[type=password],
  textarea,
  select {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  select {
    width: 20%;
  }

  .new-action-button,
  .delete-button {
    margin-top: 15px;
    padding: 15px;
  }

  .hint {
    color: $hint-green;
  }
}
